body {
    background-image: url('../img/Dragon.jpg');
    background-position: 50% 30%;
    margin: auto;
    display: flex;
    font-size: 1.3rem
  }
  #text {
    background-color: #b5b5f4;
    color: #0c0b0b;
  }
  #game {
    max-width: 500px;
    height: 300px;
    color: #ffffff;
    margin: 30px auto 0px auto;
    padding: 10px;
    border-radius: 3%;
   box-shadow: 3px 3px 3px  black ;
  }
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #5b2020;
    background-color: #c9b4b4;
  }
  .stat {
    padding-right: 10px;
  }
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #4c4842;
    background-image: linear-gradient(#68eda4, #35b511);
    border: 3px solid #3aa253;
  }

  #game {
    max-width: 80%;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px auto;
    padding: 10px;
    border-radius: 3%;
   box-shadow: 3px 3px 3px  black ;
  }
  button {
    height: 50px;
    font-size: 2rem;
  }
  #controls
   {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
    display: grid;
   grid-template-rows: 1fr ;
  }


  
